@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

*{
    font-family: "Bricolage Grotesque", sans-serif;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: 0 ;
    padding: 0;
}

header{
    /* border: 2px solid red; */
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form_section{
    /* border: 2px solid green; */
    padding: 20px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image_upload input{
    cursor: pointer;
}

fieldset {
    margin: 15px;
}

button{
    width: 10rem;
    margin: 10px;
    cursor: pointer;
}

.result_section{
    /* border: 2px solid red; */
    margin: 10px;
    padding: 20px;
}

footer{
    text-align: center;
}

.result_section{
    display: grid;
    
    /* border: 2px solid red; */
}

.color{
    /* border: 2px solid rgb(60, 255, 0); */
    height: 50px;

}

.color_code{
    /* border: 2px solid rgb(255, 0, 76); */
    
}